:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
}


body,html
{	
	width: 100%;
	height: 100%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
}

input {
  outline: none;
  border: none;
}

input:after {
    transition: all 0.5s linear;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}



input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 1px 0;
    white-space: pre;
}



.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #b50003;
  background: -webkit-linear-gradient(45deg, #d60023, #d60023);
  background: -o-linear-gradient(45deg, #d60023, #d60023);
  background: -moz-linear-gradient(45deg, #d60023, #d60023);
  background: linear-gradient(45deg, #d60023, #d60023);
}


.input_class:focus + .focus-input::before {
  width: 100%;
}

.has-val.input_class + .focus-input::before {
  width: 100%;
}
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}


.container
{
	width: 100%;
	margin: auto;
	background: white;
	min-height: 100vh;
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0;
  	justify-content: center;
  	align-items: center;
}

.form_div
{
	width: 50%;
	float: left;
}

.form
{
	width: 70%;
	text-align: center;
	margin: 0 auto 10% auto;
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	flex-wrap: wrap;
}

#map
{
	width: 50%; 
	height: 150vh;
	float: left;
}

.title
{
	  font-weight: bold;
  	width: 100%;
  	text-align: center;
    font-size: 25px;
  	color:  #b50003;
  	padding-bottom: 35px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.label_class
{

  	font-size: 16px;
  	color: #999999;
  	line-height: 1.2;
  	padding-left: 2px;
  	float: left;
}


.input_class
{
	display: block;
  	width: 100%;
  	height: 50px;
  	background: transparent;
  	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
  	font-size: 18px;
  	color: #555555;
  	line-height: 1.2;
  	padding: 0 2px;
}

.input_div
{
	width: 100%;
  	position: relative;
  	border-bottom: 2px solid #dbdbdb;
  	margin-bottom: 45px;
}

.button-container {
    display: flex;

    margin: 60px auto;

    flex-wrap: wrap;
    justify-content: center;
}

.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px var(--color-smoke);

}

.button:hover {
    transition: all 150ms linear;

    opacity: .85;
  }
  .button:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  .button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }


.button.-regular {
  color: #202129;
  background-color: #f2f2f2;
  
  }

.button.-regular &:active {
    background-color: #d5d6d6;
    opacity: 1;}
.button.-regular:hover {
    color: #b50003;
    background-color: #e1e2e2;
    opacity: 1;
  }

@media screen and (max-width: 1080px)
{
	.container
	{
		width: 90%;
	}
	.form_div
	{
		width: 50%;
	}
	.form
	{
		width: 70%;
	}
	
	
	#map
	{
		width: 50%;
	}
}


@media screen and (max-width: 640px)
{
	.form_div
	{
		width: 100%;
	}
	.form
	{
		width: 100%;
	}
	#map
	{
		width:100%;
	}
}

@media screen and (max-width: 320px)
{
	.form_div
	{
		width: 300px;
	}
	#map
	{
		width:300px;
	}
}

